In [3]:
import pandas as pd
mine = pd.read_csv("ages.csv")
mine.head()

       Rep    Age
0    Jones  Young
1   Kivell    Old
2  Jardine  Young
3     Gill  Young
4  Sorvino    Old

In [5]:
mine.tail()

        Rep    Age
10    Smith  Young
11    Jones    Old
12  Jardine    Old
13     Gill    Old
14   Howard  Young

In [6]:
mine.describe()

         Rep  Age
count     15   15
unique    11    2
top     Gill  Old
freq       2    8

In [8]:
mine.shape

(15, 2)

In [10]:
mine.iloc[:5,:1]

       Rep
0    Jones
1   Kivell
2  Jardine
3     Gill
4  Sorvino

In [11]:
mine.index

RangeIndex(start=0, stop=15, step=1)

In [14]:
mine.loc[:3,"Age"]

0    Young
1      Old
2    Young
3    Young
Name: Age, dtype: object

TypeError: list indices must be integers or slices, not str